* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ddd;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    max-width: 100px;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    list-style: none;
    margin:0;
    padding:0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaaaaa;
}
nav .active a, nav a:hover {
    background-color: #626262;
    color: #eeee;
}
.column {
    flex-direction: column;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    max-width: 350px;

    font-size: 70px;
    text-shadow: 1px 1px 1px #220;
    margin: 0;
    padding: 0;
}
.banner_headline h2 {
    max-width: 350px;
    color: #eee;
    font-size: 21px;
    text-shadow: 1px 1px 1px #220;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.banner_options {
    display: flex;
}
.banner1, .banner2, .banner3 {
    flex: 1;
}
.banner1 {
    background-color: #404040;
    padding: 20px;
}
.banner2 {
    background-color: #444444;
    padding: 20px;
}
.banner3 {
    background-color: #484848;
    padding: 20px;
}
.banner_title {
    font-size: 21px;
}
.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options .button {
    display: inline-block;
    border: 1px solid #dddd;
    padding: 10px;
    color: #eee;;
    text-decoration: none;
}
.banner_locations a {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px white;
}
.banner_locations_title {
    font-size: 14px;
    padding: 10px;
}
.banner_locations_adress {
    font-size: 14px;
    padding: 10px;
}
.banner_locations a {
    text-decoration: none;
    color: #eee;
}

#content {
    display: flex;
    justify-content: center;
}
#content section {
    flex: 2;
}
#content aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    font-size: 20px;
    font-weight: bold;
}
.widget_title_bar {
    margin-top: 5px;
    height: 2px;
    width: 40px;
    background-color: #606060;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
    color: #eee;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    color: #dddd;
    background-color: #404040;
    font-size: 12px;
    padding: 5px;
}
article .news_comments {
    color: #dddd;
    background-color: #606060;
    font-size: 12px;
    padding: 5px;
    margin-left: 2px;
}
article .news_thumbnail {
    margin-top: 20px;
}
article .news_thumbnail img {
    width: 100%;
    height: 200px
}
article .news_title {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}
article .news_resume {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
.gallery{
    flex-wrap: wrap;
}
.photos {
    flex: 40%;
    margin-right: 5%;
}
.photos img {
    min-width: 125px;
    max-width: 100%;
    max-height: 84px;
}
.places_desc {
    font-size: 14px;
    padding-bottom: 20px;
}
.places a {
    color: #ddd;
    text-decoration: none;
}
.places {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.places_location {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    vertical-align: text-top;
}
.places_line {
    height: 1px;
    width: 100%;
    background-color: #606060;
}