.display {
    display: flex;
    justify-content: center;
    height: 0px;
}
.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: -110px;
    margin-left: 15px;
    margin-right: 15px;
    height: 140px;
    border-radius: 5px;
    background-color: white;
}
.title {
    display: flex;
}
.titleName {
    flex: 1;
    font-size: 20px;
    color: black;
    padding-top: 30px;
    padding-left: 40px;
    width: 100%;
}
.titleIcon img{
    width: 30px;
    filter: contrast(175%) brightness(3%);
    padding-right: 40px;
    padding-top: 30px;
}
.value {
    width: 100%;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 35px;
}