.display {
    display: flex;
    justify-content: center;
    height: 0px;
}
.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    width: 32%;
    flex-direction: column;
    margin-top: -80px;
    height: 110px;
    border-radius: 5px;
    background-color: white;
}
.title {
    display: flex;
}
.titleName {
    flex: 1;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 40px;
}
.titleIcon{
    width: 25px;
    filter: contrast(175%) brightness(3%);
    margin-right: 40px;
    margin-top: 15px;
}
.value {
    width: 100%;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 30px;
}
#total {
    background-color: darkorange;
    color: white;
}