#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #F0F2F5;
    color: #222;
}
.container {
    flex-direction: column;
    width: 90%;
}
.table {
    width: 91vw;
    max-height: 250px;
    overflow-y: scroll;
}
.tableHeader {
    display: flex;
    align-items: center;
    height: 60px;
}
.headingText {
    flex: 1;
    font-size: 18px;
    line-height: 18px;
    color: #A9B2CA;
    padding-left: 40px;
}
.tableRow {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 9px;
}
.rowText {
    flex: 1;
    font-size: 18px;
    color: black;
    padding-left: 40px;
}
.entry {
    flex: 1;
    font-size: 18px;
    color: green;
    padding-left: 40px;
}
.out {
    flex: 1;
    font-size: 18px;
    line-height: 18px;
    vertical-align: center;
    color: red;
    height: 20px;
    padding-left: 40px;
}
.displayButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.addNewButton {
    align-self: flex-end;
    font-size: 16px;
    margin-top: 60px;
    width: 180px;
    height: 40px;
    color: black;
    border-width: 1px;
    border-color: #fbfbfb;
    background-color: #fbfbfb ;
}
.addNewButton:hover {
    cursor: pointer;
}

.modalLabel {
    width: 100%;
}
.modalCheck {
    width: 50%;
}
.modalInput {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.modalInput:active, .modalInput:focus {
    outline: none;
}