.square {
    background-color: red;
    padding: 30px;
}
.button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 600;
}
.legend {
    color: green ;
}